/* The Masonry Container */
.masonry {
  -webkit-columns: 4 100px;
     -moz-columns: 4 100px;
          columns: 4 100px;
  column-gap: 1.5em;
  outline: 2px solid blue;
  margin: 1.5em auto;
  max-width: 98%;
}

/* The Masonry Brick */
.item {
  background: #33333350;
  border: solid 2px rgb(141, 0, 0);
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.18);
  display: inline-block;
  margin: 0 0 1em 0;
  width: 100%;
  padding: 1em;
  margin: 0 0 1.5em;
}



/* Masonry on very large screens */
@media only screen and (min-width: 1800px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1799px) and (min-width: 1200px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1199px) and (min-width: 600px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 599px) {
  .masonry {
    column-count: 1;
  }
}